body {
  background-color: black;
  color: white;
  max-width: 425px;
}

.main-img {
  max-width: 425px;
  position: relative; /* Ensure the image is positioned correctly */
  /* top: 100px; Adjust this value to move the image down */
  left: 0;
  padding-bottom: 50px;
}

.login-box {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the content */
}

.login-img {
  width: 50%;
  display: block;
  margin: 0 auto;
}

.register-img {
  width: 80%;
  display: block;
  margin: 0 auto;
}

.register-link {
  text-decoration: underline;
}

input,
button {
  background-color: black;
  color: white;
  border: 1px solid white;
}

.login-form,
.register-form {
  margin: 0 auto;
  width: 360px;
  height: 200px;
  display: flex;
  flex-direction: column;
  /* align-content: space-between; */
}

.user-input,
.password-input {
  height: 50px;
  margin-bottom: 15px;
  border-radius: 8px;
  padding-left: 20px;
}

.login-button,
.register-button {
  background-color: white;
  color: black;
  height: 50px;
  margin-top: 15px;
  cursor: pointer;
  font-size: 1.3em;
  font-weight: bold;
}

input::placeholder {
  color: white;
}

a {
  color: white;
}

a:hover {
  text-decoration: underline;
}

#root {
  max-width: 425px; /* Ensure the max width of the app is 425px */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.back-button {
  width: 60px; /* Adjust the size of the back button image */
  position: absolute;
  top: 20px; /* Adjust the top position */
  left: 20px; /* Adjust the left position */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
